@import url(https://fonts.googleapis.com/css?family=Roboto:100,400);
body{
    margin:0;
    padding:0;
    font-family:sans-serif
}
*{
    margin:0;
    padding:0;
    -webkit-box-sizing:border-box;
    box-sizing:border-box
}
body{
    font-size:16px;
    font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif
}
.app{
    position:fixed;
    display:-ms-flexbox;
    display:flex;
    top:80px;
    left:0;
    right:0;
    bottom:0
}
aside,section{
    max-height:calc(100vh - 80px)
}
section{
    -ms-flex:initial;
    flex:initial;
    min-width:70%;
    overflow:auto
}
section div.entry a{
    padding:6px 16px;
    -webkit-box-shadow:0 1px rgba(0,0,0,.05);
    box-shadow:0 1px rgba(0,0,0,.05);
    margin-bottom:1px;
    text-decoration:none;
    color:#333;
    font-family:Consolas,monospace;
    display:block;
    font-size:18px;
    line-height:1
}
section div.entry a span{
    color:#999;
    font-size:80%;
    padding-left:1ex;
    font-weight:400;
    white-space:nowrap
}
code,pre{
    font-family:Consolas,monospace
}
section div.entry.namespace>a{
    font-size:34px;
    padding-left:10px
}
aside{
    -ms-flex-positive:1;
    flex-grow:1;
    background-color:rgba(0,0,0,.05);
    line-height:1.6em;
    max-width:65%;
    min-width:30%;
    overflow-y:auto;
    padding-top:6px
}
.parameters{
    margin-bottom:1em
}
aside>div{
    padding:10px 16px;
    position:-webkit-sticky;
    position:sticky
}
aside>div>h2{
    width:100%;
    overflow:hidden;
    -o-text-overflow:ellipsis;
    text-overflow:ellipsis;
    line-height:1.3
}
aside>div>*{
    margin-bottom:10px
}
aside .desc ul{
    list-style-type:square
}
aside .desc .returns>div,aside .desc ul{
    padding-left:1.5em
}
p{
    -webkit-margin-before:1em;
    margin-block-start:1em;
    -webkit-margin-after:1em;
    margin-block-end:1em
}
p.old{
    margin:0
}
p:first-child{
    -webkit-margin-before:0;
    margin-block-start:0
}
.desc pre{
    margin:1em 0
}
a{
    color:#09f;
    text-decoration:none
}
section div.entry.active a{
    -webkit-box-shadow:0 1px #f90;
    box-shadow:0 1px #f90;
    font-weight:600
}
a:hover{
    -webkit-box-shadow:0 1px #09f!important;
    box-shadow:0 1px #09f!important
}
aside pre{
    white-space:pre-wrap
}
div.inlined,p.inlined{
    display:inline
}
header,nav{
    display:-ms-flexbox;
    display:flex;
    -ms-flex-align:center;
    align-items:center;
    position:fixed;
    top:0;
    left:0;
    right:0;
    z-index:999
}
header{
    height:50px;
    background-color: #aa1d1;
    top:0
}
header .branding{
    color:hsla(0,0%,100%,.75);
    font-size:20px;
    padding-left:16px
}
header .branding span{
    font-weight:100
}
header input{
    margin-left:16px;
    height:100%;
    border:none;
    padding:0 16px;
    outline:none;
    -ms-flex-positive:1;
    flex-grow:1;
    background:hsla(0,0%,100%,.1);
    font-family:Consolas,monospace;
    font-size:20px;
    color:#fff
}
header input:focus{
    -webkit-box-shadow:0 0 0 2px hsla(0,0%,100%,.2) inset;
    box-shadow:inset 0 0 0 2px hsla(0,0%,100%,.2)
}
nav{
    top:50px;
    background-color:#555
}
nav,nav ul{
    height:30px
}
nav ul{
    display:-ms-flexbox;
    display:flex;
    list-style-type:none;
    -ms-flex-align:center;
    align-items:center
}
nav ul:not(:last-of-type){
    border-right:1px solid hsla(0,0%,100%,.3)
}
nav ul li a{
    padding:0 15px;
    color:hsla(0,0%,100%,.6)
}
nav ul li a:hover{
    -webkit-box-shadow:none!important;
    box-shadow:none!important;
    color:#fff
}
nav ul li.active a{
    color:#fff
}
#root,.app,body,html{
    min-height:100vh
}
#loading{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-pack:center;
    justify-content:center;
    -ms-flex-align:center;
    align-items:center
}
#loading span{
    font-size:6vh
}
.examples .react-tabs__tab-list{
    margin-bottom:0;
    padding-left:10px;
    padding-right:10px
}
.desc .hljs{
    display:block!important
}
.desc p .hljs{
    padding:.1em .5em;
    border:1px solid #ccc;
    display:inline!important
}
.hidden{
    display:none
}
.react-tabs{
    -webkit-tap-highlight-color:transparent
}
.react-tabs__tab-list{
    border-bottom:1px solid #aaa;
    margin:0 0 10px;
    padding:0
}
.react-tabs__tab{
    display:inline-block;
    border:1px solid transparent;
    border-bottom:none;
    bottom:-1px;
    position:relative;
    list-style:none;
    padding:6px 12px;
    cursor:pointer
}
.react-tabs__tab--selected{
    background:#fff;
    border-color:#aaa;
    color:#000;
    border-radius:5px 5px 0 0
}
.react-tabs__tab--disabled{
    color:GrayText;
    cursor:default
}
.react-tabs__tab:focus{
    -webkit-box-shadow:0 0 5px #0188fe;
    box-shadow:0 0 5px #0188fe;
    border-color:#0188fe;
    outline:none
}
.react-tabs__tab:focus:after{
    content:"";
    position:absolute;
    height:5px;
    left:-4px;
    right:-4px;
    bottom:-5px;
    background:#fff
}
.react-tabs__tab-panel{
    display:none
}
.react-tabs__tab-panel--selected{
    display:block
}
.hljs{
    display:block;
    background:#fff;
    padding:.5em;
    color:#333;
    overflow-x:auto
}
.hljs-comment,.hljs-meta{
    color:#969896
}
.hljs-emphasis,.hljs-quote,.hljs-string,.hljs-strong,.hljs-template-variable,.hljs-variable{
    color:#df5000
}
.hljs-keyword,.hljs-selector-tag,.hljs-type{
    color:#a71d5d
}
.hljs-attribute,.hljs-bullet,.hljs-literal,.hljs-symbol{
    color:#0086b3
}
.hljs-name,.hljs-section{
    color:#63a35c
}
.hljs-tag{
    color:#333
}
.hljs-attr,.hljs-selector-attr,.hljs-selector-class,.hljs-selector-id,.hljs-selector-pseudo,.hljs-title{
    color:#795da3
}
.hljs-addition{
    color:#55a532;
    background-color:#eaffea
}
.hljs-deletion{
    color:#bd2c00;
    background-color:#ffecec
}
.hljs-link{
    text-decoration:underline
}
/*# sourceMappingURL=main.75771942.css.map*/
